REPLICATE_API_KEY=r8_2KbXrUJfrx0sxzAD6ANbJZLjWBfazPY0uh7Su
NEXT_PUBLIC_UPLOAD_API_KEY=public_W142iqWC4wKVPNvGyMkhoTEWgDVk

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
